<div class="ssa-container">
  <main>
    <article>
      <div class="containerImg">
        <img src="../../../../assets/img/fondo.png">
      </div>
      <div class="containerSession">

        <form [formGroup] = "loginForm"  (ngSubmit)="login()" >
          <div class="form-header">
            <div class="containerLogo">
              <img src="../../../../assets/img/logo.jpg">
            </div>
            <h2>Welcome to SSA</h2>
          </div>
          <mat-form-field>
            <mat-label>UserName</mat-label>
            <input matInput [formControl]="loginForm.controls.userName" autocomplete="username">
            <mat-error *ngIf="loginForm.controls.userName.errors">
              User name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" [formControl]="loginForm.controls.pass">
            <mat-error *ngIf="loginForm.controls.pass.errors">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <span *ngIf="loginError" style="color: #dc081b; font-weight: 500;">Login failed. Please try again.</span>
          <br>

          <button mat-flat-button class="btn-primary" [disabled]="!loginForm.valid" type="submit">Log in</button>

        </form>

      </div>
    </article>
  </main>
  <footer>
    <h4>Todos los derechos reservados Eduardo Mercado</h4>
  </footer>
</div>
